.status-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #E5674E;
    height: 100vh;
    text-align: center;
  }
  .status-wrap-img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .status-wrap p {
    color: rgba(255, 255, 255, 0.7);
  }
  .status-wrap h1 {
    color: #ffffff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
  }
  .status-wrap h2 {
    color: #ffffff;
  }
  .status-wrap button {
    border-radius: 50px;
    width: 184px;
    height: 55px;
    color: #2F2926;
    font-family: PT Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    border-style: none;
    background-color: #ffffff;
  } 

  .cup {
    margin: 0 auto;
  }